body,input,button {
	margin:0;
	background-color: #2b2b2b;
	
	font-family: Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
	font-size: 12;
	color: #a9b7c6;
}

h1 {
	font-size: 200%;
}

h1::before {
	content: "<h1>";
	color: #cc7832;
	font-size:40%;
}

h1::after {
	content: "</h1>";
	color: #cc7832;
	font-size: 40%;
}

div {
	display: block;
	content:wrap;
}

input{
	background: #000;
	border-style:none;
}

input[type=submit], button {
	background:#cc7832;
	color: #000;
	border-style: none;
	padding:13px;
	width: 300px;
	margin: 0 0 13px 13px;
}

input[type=submit]:hover, button:hover {
	cursor: pointer;
}

input[type=radio] {
	background: #000;
	border-color: #a9b7c6;
}

/* ================ HEADER stuff ================== */
div.header-bar {
	height: 80px;
	width: 100%;
	background-color: #3c3f41;
	clear:both;
	display:block;
}

.header-bar a:hover, .header-bar a:visited,.header-bar a:link, .header-bar a:active {
	color: #a9b7c6;
	text-decoration:none;
}

div.header-logo {
	float:left;
	margin: 13px 13px 0px;
}

.header-logo img {
	height: 54px;
	width: auto;
}

div.header-name {
	display:inline-block;
}

div.header-main-nav {
	float:left;
	width:100%;
	border-top-color: #555555;
	border-top-width: 2px;
	border-top-style: groove;
	background-color: #3c3f41;
}

div.header-sub-nav {
	float:left;
	width:100%;
	border-top-color: #555555;
	border-top-width: 1px;
	border-top-style: solid;
	border-bottom-color: #282828;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	background-color: #3c3f41;

}

.header-main-nav ul,.header-main-nav ol,.header-main-nav li, .header-sub-nav ul, .header-sub-nav ol,.header-sub-nav li {
	margin:0;
	padding:0;
	list-style:none;
	float:left;
	display:block;
	padding: 5px;
}

.header-main-nav li::first-letter {
	text-decoration:underline;
} 

.header-sub-nav li:after {
	content: ">";
	font-size: 120%;
}

/* ================ MAIN-CONTENT stuff ================== */
div.main-content{
	margin: 0;
	float:left;
	padding: 0;
	width:100%;
	background-color: #3c3f41;
}
	
/* ===== NAVIGATION-COLUMN stuff ===== */

div.navigation-column {
	float: left;
	width: 25%;
}

div.line-numbers-column {
	width: 5%;
	min-width:44px;
	float: left;
	background-color: #323232;
}

.line-numbers-column ol {
	counter-reset: item;
	list-style: none;
	margin: 0;
	padding: 3px 13px 0;
	text-align: right;
}

.line-numbers-column li:before {
	content: counter(item) "";
	counter-increment: item;
}

/* ===== CONTENT-COLUMN stuff ===== */

div.content-column{
	float: left;
	width: 70%;
	background-color: #2b2b2b;
}

.content-column p {
	padding: 3px 13px 0;
	margin:0;
}

/* ================ FOOTER-CONTENT stuff ================== */

div.footer {
	width: 100%;
	min-height: 50px;
	float: left;
	background-color: #3c3f41;
	border-top-width: 1px;
	border-top-style:solid;
	border-top-color: #464646;
	bottom: 0;

}

@media screen and (max-width: 330px) {
	.header-logo {
		display: none;
	}
	
	.header-name {
		margin: 0 13px;
	}

}

@media screen and (max-width: 366px) {
	div.navigation-column {
		display: none;
	}

	div.content-column {
		width: -webkit-calc(100% - 44px)!important;
	}

	.main-content p{
		word-break:normal;
		-webkit-hyphens: auto;
		-moz-hyphens: auto;
		hyphens: auto;
	}
}

@media screen and (max-width: 900px) {
	div.content-column {
		width: -webkit-calc(70% - 22px);
		width: -moz-calc(70% - 22px);
		width: calc(70% - 22px);
	}
	div.navigation-column {
		width: -webkit-calc(30% - 22px);
		width: -moz-calc(30% - 22px);
		width: calc(30% - 22px);
	}
}