<!doctype html>
<html ng-app="miniCouch">
	<head>
		<title>MiniCouch©</title>
		<script src="js/angular.min.js"></script>
		<script src="js/angular-cookies.min.js"></script>
    	<script src="js/login.js"></script>
		<link rel="stylesheet" type="text/css" href="css/main.css">
	</head>

	<body>
		<!-- ==================== HEADER content =========================-->
		<div class="header-bar">
			<div class="header-name" id="name"><h1>MiniCouch</h1></div>
			<div class="header-logo" id="logo"><img src="img/logo.png" /></div>
			<div class="header-main-nav">
				<ul>
					<li><a href="index.html">Home</a></li>
					<li><a href="login.html">Login</a></li>
					<li><a href="register.html">Register</a></li>
					<li><a href="#">Account</a></li>
				</ul>
			</div>
			<div class="header-sub-nav">
				<ul>
					<li><a href="#">MiniCouch.Home</a></li>
				</ul>
			</div>
		</div>

		<!-- ==================== MAIN content =========================-->
		<div class="main-content">
			<div class="navigation-column">
				<p>Dit is een stuk tekst</p>
			</div>
			<div class="line-numbers-column">
				<ol>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ol>
			</div>
			<div class="content-column">
				<p> Come on, log in. It isn't that hard. </p>
				
				<div ng-controller="loginController">
					<form ng-submit="tryLogin()" ng-hide="hideLoginFrom">
						
						<table id="table1" class="standard_table">
				    		<caption><b>Log in</b></caption>
				     		<thead>
				     			<tr>
				        			<td>E-mail:</td>   <td><input type="text" id="loginId" ng-model="loginId" required /></td>
				      			</tr>
				    		</thead>
				    		<tbody>
				      			<tr>
				        			<td>Password:</td>  <td><input type="password" id="password" ng-model="loginPass" required /></td> 
								</tr>
				    		</tbody>
						</table>
						<br>
						<button type="submit" id="loginSubmit">Log in!</button>	
						<div ng-bind="loginErrorMessage"></div>

					</form>
						
					<div id="loginSuccess" ng-show="showLoginSuccess">
						<p>Logged in!</p>
						<img src="http://68.media.tumblr.com/f4686c84a234169a8125844016c3994f/tumblr_mezj4qk3qc1qgcy3xo1_500.gif"/>
					</div>
				</div>
				
				<br>
				<form action="register.html">
		   			<input type="submit" value="Wanna register instead?">
				</form>
				<br>
				<form action="index.html">
		    		<input type="submit" value="Go back to the main page">
				</form>
			</div>
		</div>

		<!-- ==================== FOOTER content =========================-->
		<div class="footer">
			<p>Thijs Eckhart, Kim Bosman, Jan-Paul van Osta, Aschwin Althoff</p>
		</div>
		
	</body>
</html>