<!doctype html>
<html ng-app="miniCouch">
	<head>
		<title>MiniCouch©</title>
		<script src="js/angular.min.js"></script>
		<script src="js/angular-cookies.min.js"></script>
    	<script src="js/register.js"></script>
		<link rel="stylesheet" type="text/css" href="css/main.css">
	</head>

	<body>
		<!-- ==================== HEADER content =========================-->
		<div class="header-bar">
			<div class="header-name" id="name"><h1>MiniCouch</h1></div>
			<div class="header-logo" id="logo"><img src="img/logo.png" /></div>
			<div class="header-main-nav">
				<ul>
					<li><a href="index.html">Home</a></li>
					<li><a href="login.html">Login</a></li>
					<li><a href="register.html">Register</a></li>
					<li><a href="#">Account</a></li>
				</ul>
			</div>
			<div class="header-sub-nav">
				<ul>
					<li><a href="#">MiniCouch.Home</a></li>
				</ul>
			</div>
		</div>


		<!-- ==================== MAIN content =========================-->
		<div class="main-content">
			<div class="navigation-column">
				<p>Dit is een stuk tekst</p>
			</div>
			<div class="line-numbers-column">
				<ol>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ol>
			</div>
			<div class="content-column">
				<div ng-controller="registerController">
				
				<form ng-submit="tryRegister()" ng-hide="hideRegisterFrom">
					
				<table id="table1" class="standard_table">
			    	<caption><b>Registration</b></caption>
			     	<thead>
			     		<tr>
			        		<td>E-mail:</td>   <td><input type="email" id="email" ng-model="email" required /></td>
			      		</tr>
			    	</thead>
			    	<tbody>
			      		<tr>
				        	<td>Password:</td>  <td><input type="password" id="password" ng-model="registerPass" required /></td> 
						</tr>
						<tr>
							<td>First name:</td> <td><input type="text" id="first_name" ng-model="first_name" required /></td>
						</tr>
						<tr>
							<td>Surname:</td> <td><input type="text" id="surname" ng-model="surname" required /></td>
						</tr>
						<tr>
							<td>Initials:</td> <td><input type="text" id="initials" ng-model="initials" required /></td>
						</tr>
			    	</tbody>
		   		</table>
					<br>
					<button type="submit" id="registerSubmit">Register!</button>	
					<div ng-bind="registerErrorMessage"></div>
				</form>
					
				<div id="registerSuccess" ng-show="showRegisterSuccess">
					<p>You are now registered. Welcome to the club!</p>
					<img src="https://media.giphy.com/media/l0MYC0LajbaPoEADu/giphy.gif"/>
				</div>
					
				</div>
				
				<br>
				<form action="login.html">
		    		<input type="submit" value="Already a member? Log in!">
				</form>
				<br>
				<form action="index.html">
		    		<input type="submit" value="Go back to the main page">
				</form>
			</div>
		</div>

		<!-- ==================== FOOTER content =========================-->

		<div class="footer">
			<p>Thijs Eckhart, Kim Bosman, Jan-Paul van Osta, Aschwin Althoff</p>
		</div>
	</body>
</html>